{% if news != empty %}
<h4 class="news-header">{{ news-header }}</h4>
{% for item in news reversed -%}
<div class="news-item">
    <span class="news-item__date">
        <strong>
            {{item.date | date_to_long_string}}
        </strong>
    </span>
    <span class="news-item__title">
        <ul><li>
            <a href="{{item.url | relative_url}}">{{item.title}}</a>
        </li></ul>
    </span>
</div>
{% endfor %}
{% else %}
<span class="news-header--empty">
</span>
{% endif %}
<br />