{% if publications != empty %}
<h5 class="publications-header">{{ publications-header }}</h5>
{% for item in publications reversed -%}
<div class="publications-item">
    <span class="publications-item__authors">
        {{item.authors | array_to_sentence_string}}.
    </span>
    <span class="publications-item__title">
        {% if item.preprint %}
            <a href="{{item.preprint}}">{{item.title}}.</a>
        {% else %}
            {{item.title}}
        {% endif %}
    </span>
    <span class="publications-item__venue">
        {{item.venue}},
    </span>
    <span class="publications-item__year">
        <i>{{item.year}}</i>
    </span>
</div>
{% endfor %}
{% else %}
<span class="publications-header--empty">
</span>
{% endif %}
<br />