---
layout: default
---

<h1>Track {{page.track-id}}: {{ page.title }}</h1>

<strong>Track leader at TU Delft:</strong> {{ page.tu-leader }}<br/>
<strong>Track leader at JetBrains:</strong> {{ page.jb-leader }}

<br/>
<br/>

{{ content }}

{% assign news = site.news | where_exp: "item", "item.tracks contains page.track-id" %}
{% assign news-header = "Track News" %}
{% include news-feed.html %}

{% assign publications = site.data.publications | where_exp: "item", "item.tracks contains page.track-id" %}
{% assign publications-header = "Publications" %}
{% include publications-list.html %}

<!--
{% assign projects_collection = site.collections | where: "label", "projects" | first %}
{% include projects.html %}
-->

